<div class="content-header">
    <h2>Usuário

    </h2>

    <p class="description" [innerHTML]="titleDoc"></p>
</div>


<form (ngSubmit)="save()" *ngIf="usuarioLoaded">
    <button type="button" class="btn btn-sm btn-danger" (click)="back()">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Cancelar</button>
    <button type="button" class="btn btn-sm btn-default" type="submit" >
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>Salvar</button>
    
    <hr/>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formId">Id:</label>
        <div class="col-sm-10">
            <input id="formId" type="text" size="100" class="form-control" [(ngModel)]="usuario.id" name="id" disabled="true" />
        </div>

    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formName">Nome:</label>
        <div class="col-sm-10">
            <input id="formName" type="text" class="form-control" size="100" [(ngModel)]="usuario.name" name="name" />
        </div>
    </div>


    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formPerfil">Perfil:</label>
        <div class="col-sm-10">
            <input id="formPerfil" name="role" class="form-control" maxlength="100" [(ngModel)]="usuario.role" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formEmail">E-mail:</label>
        <div class="col-sm-10">
            <input id="formEmail" type="text" class="form-control" size="100" [(ngModel)]="usuario.email" name="email" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formCpf">Cpf:</label>
        <div class="col-sm-10">
            <input id="formCpf" type="text" class="form-control" size="100" [(ngModel)]="usuario.cpf" name="cpf" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formTelefone">Telefone:</label>
        <div class="col-sm-10">
            <input id="formTelefone" type="text" class="form-control" size="100" [(ngModel)]="usuario.fone" name="fone" />
        </div>
    </div>

    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="formSenha">Senha:</label>
        <div class="col-sm-10">
            <input id="formSenha" type="password" class="form-control" size="100" [(ngModel)]="usuario.password" name="password" />
        </div>
    </div>


</form>