/backend/product/target/
/backend/sale/target/
/backend/auth/target/
/backend/user/target/
/backend/product/nbproject/
/backend/sale/nbproject/
/backend/auth/nbproject/
/backend/user/nbproject/


/frontend/*.log
/frontend/coverage
/frontend/build/Release
/frontend/node_modules
/frontend/src/typings/tsd/
/frontend/typings/
/frontend/tsd_typings/
/frontend/dist
/frontend/public/__build__/
/frontend/src/*/__build__/
/frontend/__build__/**
/frontend/.webpack.json
/frontend/config/webpack.dev.js
/frontend/config/webpack.prod.js
/frontend/config/webpack.test.js
