<div id="content" class="content-box">
  <div id="example" class="section">
    <h3>Selecione a loja que deseja acessar:</h3>

    <dml-tenant-list> </dml-tenant-list>

    <div>
        <h2>Novo Tenant</h2>
        <form (ngSubmit)="save()">
            <div class="form-group row">
              <label class="col-sm-3 col-form-label" for="formName">Nome:</label>
              <div class="col-sm-10">
                  <input required id="formNewName" type="text" class="form-control" size="100" 
                  [(ngModel)]="tenant.name" name="name" />
              </div>
            </div>
            <input class="btn btn-sm btn-success" size="40" type="submit" value="Salvar" [disabled]="!tenant.name" style="width:68px;height:36px" />
        </form>
    </div>

</div>