<div id="content" class="content-box">
  <div id="example" class="section">
    <h3>Selecione a loja que deseja acessar:</h3>

    <dml-tenant-list> </dml-tenant-list>

    <div>
        <h2>Crie sua loja</h2>
        <form #tenantForm="ngForm" (ngSubmit)="addTenant()">
            <div class="form-group">
                <label for="tenantName">Nome da loja</label>
                <input type="text" id="tenantName" class="form-control"
                    required minlength="4" maxlength="250"
                    pattern="[a-zA-Z0-9]+"
                    name="tNameVldt" [(ngModel)]="tenantName"
                    #tNameVldt="ngModel" >

                <div *ngIf="tNameVldt.errors && (tNameVldt.dirty || tNameVldt.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!tNameVldt.errors.required">
                    Nome da loja é campo obrigatório.
                    </div>
                    <div [hidden]="!tNameVldt.errors.minlength">
                    Nome da loja deve ter no mínimo 4 caracteres.
                    </div>
                    <div [hidden]="!tNameVldt.errors.maxlength">
                    Nome de loja deve conter no máximo 250 caracteres.
                    </div>
                    <div [hidden]="!tNameVldt.errors.pattern">
                    Apenas caracteres alfanuméricos sem espaços.
                    </div>
                </div>

                <label for="adminEmail">email do administrador</label>
                <input type="email" id="adminEmail" class="form-control"
                    required
                    name="aEmailVldt" [(ngModel)]="adminEmail"
                    #aEmailVldt="ngModel" >

                <div *ngIf="aEmailVldt.errors && (aEmailVldt.dirty || aEmailVldt.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!aEmailVldt.errors.required">
                    email do administrador é campo obrigatório.
                    </div>
                </div>

                <label for="adminPwd">password do administrador</label>
                <input type="password" id="adminPwd" class="form-control"
                    required
                    name="aPwdVldt" [(ngModel)]="adminPwd"
                    #aPwdVldt="ngModel" >

                <div *ngIf="aPwdVldt.errors && (aPwdVldt.dirty || aPwdVldt.touched)"
                    class="alert alert-danger">
                    <div [hidden]="!aPwdVldt.errors.required">
                    Password do administrador é campo obrigatório.
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-default"
                    [disabled]="!tenantForm.form.valid">Criar loja</button>
        </form>
    </div>

</div>