<div id="top-nav">
  <div class="title">
    <h2 [routerLink]="['/shopping']">Loja</h2>
  </div>

  <div id="mobile-sidebar-menu" (click)="toggle()">
    <img src="/img/menu-left.svg" alt="">
  </div>

  <div id="navbar" class="pull-right navbar-logo">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a>
            <dml-tenant-dropdown></dml-tenant-dropdown>
          </a>
        </li>
        <li>
          <a routerLink="/cart">
            <i class="fa fa-shopping-cart"></i>
            <span>Carrinho</span>
          </a>
        </li>
        <li>
          <a routerLink="/myaccount">
            <i class="fa fa-user"></i>
            <span>Minha Conta</span>
          </a>
        </li>
        <li>
            <a *ngIf="loggedIn()" (click)="logout()">
                <i class="fa fa-sign-out"></i>
                <span>Sair</span>
            </a>
            <a *ngIf="!loggedIn()" href="/#/login">
                  <i class="fa fa-sign-in"></i>
                  <span>Entrar</span>
            </a>
        </li>
      </ul>
    </div>
</div>