 <br/>
 <div class="row">
     <div class="item-viewdetails">
            <div class="col-md-2"><img src={{item.image_src}}/></div>
            <div class="col-md-3">
                <br/>
                <b >{{item.nome}}</b><br/>
                {{item.descricao}}
            </div>
     </div>
            <div class="col-md-1">
                <br/>
                {{item.valor | currency:'BRL':true:'1.2-2'}} <br/>
                
            </div>
            <div class="col-md-2">
                <br/>
                {{item.amount}}
            </div>
            
            <div class="col-md-1">
                <br/>
                {{item.valor * item.amount | currency:'BRL':true:'1.2-2'}} <br/>
                
            </div>
        </div>