<br/>
<div class="container">
        <div class="row" *ngIf="details">
            <div class="col-md-4"><img src={{details.image_src}}/></div>
            <div class="col-md-4">{{details.descricao}}
                <br/>{{details.valor | currency:'BRL':true:'1.2-2'}} <br/>
                <br/>{{details.averageReviewRate}}
                <br/><button class="btn btn-primary" (click)="addToCart()">
                    <i class="fa fa-lg fa-cart-plus" aria-hidden="true"></i>Comprar
                </button>
            </div>
        </div>
        
        <div class="row" *ngIf="!details">
            <h3>Carregando</h3>
        </div>

        <br/><br/>
        <div class="row">
            <button type="button" class="btn btn-sm" (click)="back()">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>Voltar</button>
        </div>
        
    </div>
