<div class="content-header">
  <h2>Home
    
  </h2>

  <p class="description" [innerHTML]="titleDoc"></p>
</div>

<div id="content" class="content-box">
  <div id="example" class="section">
    <h3>Bem vindo!!</h3>
    {{news}}

    <!-- <div *dmlIsLogged> <br><br>Usuário logado pode ver</div>

    <div *dmlHasRoles="['ADMINISTRADOR','USUARIO']"> <br><br>Usuário AUTORIZADO pode ver</div>

    <input type="text" [dmlHasRolesDisable]="['ADMINISTRADOR','USUARIO']" value="Disable - Usuário AUTORIZADO pode ver"/>

    <div [dmlHasRolesDisable]="['ADMINISTRADOR','USUARIO']">
      <input type="text"  value="Disable - dentro da div"/>
    </div>
    -->


    <div class="item">
      <ng-content></ng-content>
    </div>
  </div>

 

</div>