 <br/>
 <div class="row">
     <div (click)="viewDetails()" class="item-viewdetails">
            <div class="col-md-2"><img src={{item.image_src}}/></div>
            <div class="col-md-3">
                <br/>
                <b >{{item.name}}</b><br/>
                {{item.description}}
            </div>
     </div>
            <div class="col-md-1">
                <br/>
                {{item.price | currency:'BRL':true:'1.2-2'}} <br/>
                
            </div>
            <div class="col-md-2">
                <br/>
                <amount-spinner [(amount)]="item.amount" (amountChange)="onAmountChange(amount)"></amount-spinner>
            </div>
            <div class="col-md-1">
                <br/>
                <button class="btn btn-default" (click)="deleteItem(item)">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-md-1">
                <br/>
                {{item.price * item.amount | currency:'BRL':true:'1.2-2'}} <br/>
                
            </div>
        </div>